[Unit]
Description=VPN bypass cgroup anchor
Slice=novpn.slice

[Service]
ExecStart=/usr/bin/sleep infinity
Restart=always

[Install]
WantedBy=default.target
