[user]
	name = valfar
	email = homelab@furusato.dev
[init]
    defaultBranch = main
[core]
    editor = nvim
[pull]
    ff = only
[color]
    ui = auto

[credential "https://github.com"]
	helper =
	helper = !/usr/bin/env gh auth git-credential
[credential "https://gist.github.com"]
	helper =
	helper = !/usr/bin/env gh auth git-credential
[safe]
	directory = /mnt/cache/appdata/komodo/repos/homelab-compose
	directory = /mnt/cache/projects/gridhub
